* {
    padding: 0;
    border: 0;
    margin: 0;
}

/* header placeholder*/ 
header {
    height: 100px;
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    background-color: #E0FFDC;
    gap: 10px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.item {
    overflow: hidden;
    position: relative;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    color: #7BA376;
}

/* item - text */
.text {
    grid-area: 1/2/2/3;
    align-self: center;
    width: 40%;
}

.text h2 {
    font-size: 40px;
    line-height: 60px;
    /* or 150% */
    letter-spacing: 0.03em;
}

.text p {
    font-size: 12px;
    line-height: 12px;
    /* or 100% */
    letter-spacing: 0.03em;
}

/* item gallery menu */
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.moon {
    grid-area: 2/1/3/2;
    border: 1px solid black;
}

.stars {
    grid-area: 2/2/3/3;
    border: 1px solid black;
}

.planets {
    grid-area: 2/3/3/4;
    border: 1px solid black;
}