* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background-color: #E0FFDC;
    height: 150vh;
}

/* HEADER PLACEHOLDER */ 
header {
    height: 75px;
}

/* TEXT */
.title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    color: #7BA376;
    font-size: 40px;
    line-height: 60px;
    /* or 150% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}