* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background-color: #E0FFDC;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    margin: auto;
}

/* navbar */
.contacts__navigation {
    max-height: 15vh;
    max-width: 95%;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
   /* border: 2px solid black; */
}

.contacts__navigation__title {
    max-width: 20%;
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #7BA376;
   /* border: 2px darkblue solid; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.title-link {
    color: #7BA376;
    text-decoration: none;
}

.contacts__navigation__list {
    max-width: 55%;
    width: 100%; 
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #7BA376;
    justify-content: flex-end;
    list-style: none;
}

.list-link {
    color: #7BA376;
    text-decoration: none; 
    padding-left: 2.5vw;
}

.list-link:hover {
    width: 13%;
    height: 7%;
    padding: 1%;
    background: #FFFFFF;
    opacity: 0.8;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.list-link-active {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.list-icon {
    color: #7BA376;
    display: none;
}

/* grid container & item properties */
.container {
    max-width: 95%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 3%;
       -moz-column-gap: 3%;
            column-gap: 3%;
    row-gap: 5%;
    margin: auto;
    -ms-grid-columns: 1fr 3% 1fr 3% 1fr 3% 1fr 3% 1fr 3% 1fr;
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: auto 5% auto;
    grid-template-rows: repeat(2, auto);
}.container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}.container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}.container > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}.container > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}.container > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}.container > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
}.container > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}.container > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}.container > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}.container > *:nth-child(10) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}.container > *:nth-child(11) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
}.container > *:nth-child(12) {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
}

.item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

/* item - text */
.text {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 1/3/2/5;
    -ms-grid-row-align: center;
        align-self: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    color: #7BA376;
}

.text h2 {
    font-size: 40px;
    line-height: 60px;
    /* or 150% */
    letter-spacing: 0.03em;
}

.text p {
    font-size: 12px;
    line-height: 18px;
    /* or 100% */
    letter-spacing: 0.03em;
}

/* item - images */
.item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
}

.moon {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2/1/3/3;
}

.stars {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 2/3/3/5;
}

.planets {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-area: 2/5/3/7;
}

.item figcaption {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    /* or 300% */
    color: #7BA376;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    margin-left: 5%;
}

/* link hover state */
.item img:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    width: 100%;
    cursor: pointer;
}

/* footer */
.footer {
    min-height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: auto;
}

.footer-line {
    border: 0.2vw solid #7BA376;
    max-width: 80%;
    width: 100%;
    margin-top: 5%;
}

.footer__social {
    max-width: 20%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 3%;
}

.fa-brands {
    color: #7BA376;
}

.fa-facebook, .fa-instagram {
    font-size: 36px;
}

/* logo animation */
/* @keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

svg {
    animation: rotate 10s linear infinite;
    max-width: 3.0em;
    height: 100%;
    margin-left: 20%;
} */

/* media queries */
@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
    }

    .contacts__navigation__title {
        font-size: 30px;
        line-height: 24px;
    }

    .contacts__navigation__list {
        font-size: 2.5vw;
        line-height: 3vw;
    }

    .container {
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        -ms-grid-rows: 15vh 1% 20vh 1% 20vh 1% 20vh;
        grid-template-rows: 15vh repeat(3, 20vh);
        gap: 1%;
    }

    .container > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .container > *:nth-child(2) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .container > *:nth-child(3) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .container > *:nth-child(4) {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }

    .text {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: 1/1/2/2;
    }

    .moon {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: 2/1/3/2;
    }
    
    .stars {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: 3/1/4/2;
    }
    
    .planets {
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        grid-area: 4/1/5/1;
    }

    .text h2 {
        font-size: 36px;
        line-height: 50px;
    }

    .footer {
        min-height: 15%;
    }

    .fa-facebook, .fa-instagram {
        font-size: 24px;
    }
}

@media screen and (max-width: 360px) {
    body {
        max-width: 360px;
    }

    .contacts__navigation__title {
        font-size: 22px;
        line-height: 18px;
    }

    .list-link {
        display: none;
    }

    .list-icon {
        display: contents;
        font-size: 18px;
    }

    .text h2 {
        font-size: 22px;
        line-height: 40px;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .fa-facebook, .fa-instagram {
        font-size: 18px;
    }
}