* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background-color: #E0FFDC;
    height: 150vh;
}

/* HEADER PLACEHOLDER */ 
header {
    height: 75px;
}


/* TEXT */
.container {
    width: 33%;
    display: flex;
    justify-content: flex-start;
    margin: auto;
}

.text {
    width: 200px;
    height: 175px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    color: #7BA376;
    margin-left: 50px;
}

.text h2 {
    font-size: 40px;
    line-height: 60px;
    /* or 150% */
    letter-spacing: 0.03em;
}

.text p {
    font-size: 12px;
    line-height: 12px;
    /* or 100% */
    letter-spacing: 0.03em;
    margin-top: 5px;
}

/* IMAGE LINKS */
.gallery {
    display: grid;
    margin: 10px;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 360px;
}

.gallery__image {
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
}

.gallery__image--moon {
    background: center/cover url("../images/pexels-alex-andrews-1983032.jpg") no-repeat;
    height: 100%;
    transition: all 0.3s ease;
}

.gallery__image--stars {
    background: center/cover url("../images/pexels-enric-cruz-lópez-6039245.jpg") no-repeat;
    height: 100%;
    transition: all 0.3s ease;
}

.gallery__image--planets {
    background: center/cover url("../images/mars-11012.jpg") no-repeat;
    height: 100%;
    transition: all 0.7s ease;
}

.gallery figcaption {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    /* or 300% */
    color: #7BA376;
    text-transform: uppercase;
    position: absolute;
    top: 570px;
    margin-left: 20px;
}

/* LINK STYLE STATES */
.gallery__image--moon:hover,
.gallery__image--stars:hover,
.gallery__image--planets:hover {
    transform: scale(1.5);
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}
